img{
    width: 100%;
    height: auto;
}

p {
    color: white;
}

h1{
    color: white;
    font-weight: bold;
}

a{
    
    background-color: #E50914;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #E50914;
    color: white;
    border: 2px solid white;
}

